{
    "supports": {},
    "dependencies": {
        "RestSharp": "106.11.7",
        "Newtonsoft.Json": "12.0.3",
        "JsonSubTypes": "1.8.0"
    },
    "frameworks": {
        "{{targetFrameworkNuget}}": {}
    }
}